/* Colours */

@each $name, $color in $alertColors {
  .#{$name} {
    color: white;
    background: $color;
    border: 1px solid rgba(0,0,0,.3);
  }

  button.#{$name}:hover {
    border: 1px solid rgba(0,0,0,.6);
  }

  button.#{$name}:active {
    background: darken(desaturate($color, 15%), 15%);
  }
}