/* Text */

// Headings

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
h6 { font-size: .8rem; }

@for $index from 1 through 6 {
  h#{$index} {
    @include marbot;
    line-height: $lineHeight;
  }

  h#{$index}.underlined {
    border-bottom: $border;
    padding-bottom: 0.5rem;
    margin-bottom: calc(#{$margin - 0.5rem} - 1px);
  }
}

h1, h2 {
  line-height: 3rem;
}

// Paragraphs

p {
  @include marbot;
}

p:last-child {
  margin-bottom: 0;
}

hr {
  @include marbot;
  border: 0;
  height: 1px;
  background: $border-color;
  color: $border-color;
}

// Links

a {
  text-decoration: none;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $link-color;
}

a:hover {
  text-decoration: underline;
}

// Lists

ul, ol {
  @include marbot;
  padding-left: 2rem;
}

ul ul, ol ol {
  margin-bottom: 0;
}

// Blockquotes

blockquote {
  @include marbot;
  padding-left: $padding;
  border-left: 5px solid $border-color;
}

// Code

pre {
  @include marbot;
  overflow-x: auto;
  font-size: .7777778rem;
  background: $faded;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
}